/**
 *  @provides pop-dialog-css
 *  @permanent
 */

/* @noflip */
.pop_topleft {
  background: url('/images/dialog/halo_top_left.png?__sprite');
  left: -10px;
  top: -10px;
}

/* @noflip */
.pop_topright1 {
  background: url('/images/dialog/halo_top_right.png');
  right: -10px;
  top: -10px;
}

/* @noflip */
.pop_topleft2 {
  background-image: url('/images/dialog/large_halo_top_left.png?&__sprite&');
  left: -10px;
  top: -10px;
}

/* @noflip */
.pop_topright3 {
  background-image: url('/images/dialog/large_halo_top_right.png');
  left: -10px;
  top: -10px;
}

/* @noflip */
.pop_topright4 {
    border-image: url('/images/dialog/large_halo_top_right.png?__sprite') 0 0 0;
    left: -10px;
    top: -10px;
}